$dark-blue: #0057A1;
$hover: #163D6F;
$button_normal: #285EA3;
$button_disabled: #285EA3;
$core_gray: #777269;
$core_green: #00A231;
$core_yellow: #FFD700;
$core_red: #E7000E;
$white: white;
$light-green: #7AFAE3;