.offer {
    text-align: center;
    padding-bottom: 120px;
    &__header {
        @include basic-font;
        font-weight: 300;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .offers_items {
        display: flex;
        justify-content: space-between;
        &__single_item {
            max-width: 406px;
            width: 100%;
            position: relative;
            &__img {
                display: block;
                width: 100%;
                border-radius: 26px;
                z-index: 0;
            }
            &__offer_link {
                display: flex;
                position: absolute;
                background-color: $white;
                padding: 2px 50px;
                border-radius: 40px;
                top: 43%;
                left: 21%;
                z-index: 999;
                @include basic-font;
                img {
                    margin-right: 20px;
                }
                p {
                    text-align: left;
                    color: #004986;
                }
            }
            &__gradient_overlay {
                background: linear-gradient(180deg, #0500B6 -112.88%, #00B3E6 -12.88%);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 999;
                border-radius: 30px;
                opacity: 0.5;
                z-index: 1;
            }
            &__content {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &__link {
                    display: flex;
                    background-color: $white;
                    padding: 2px 30px;
                    border-radius: 40px;
                    z-index: 999;
                    width: fit-content;
                    @include basic-font;
                    img {
                        margin-right: 20px;
                    }
                    p {
                        text-align: left;
                        color: #004986;
                    }
                }
            }
        }
    }
}