@mixin basic-font {
    font-family: 'Inter', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    max-width: 1280px;
    width: 100%;
    &--container-center {
        margin: 0 auto;
        display: block;
    }
    &--flex {
        display: flex;
    }
    &--flex-align-center {
        margin: 0 auto;
    }
    &--flex-space-between {
        justify-content: space-between;
    }
    &--flex-justify-center {
        justify-content: center;
    }
    &--flex-align-center-vertical {
        align-items: center;
    }
}

.shared-btn {
    display: flex;
    height: 60px;
    width: fit-content;
    align-items: center;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    padding: 0px 50px 0px 30px;
    border-radius: 40px;
    img {
        margin-right: 10px;
    }
    &--green {
        background-color: $light-green;
    }
    &--center {
        margin: 0 auto;
    }
    &--mt-5 {
        margin-top: 5vh;
    }
}